// Colors
$white: #ffffff;
$black: #2D333B;
$grey: #6C7687;
$shadow1: #292938; //lighter
$shadow2: #252532;
$red: #df5b69;
$blue: #57CBF2;
$pink: #e12a80;
$pink-light: #e12a8030;

// Fonts
$basefont: 'Nunito', sans-serif;
$accentfont: 'Poppins', sans-serif;
$fontbasesize: 1.05rem;
