<header>
    <nav>
        <a id="logo" href="/index.html"></a>
        <div class="toggle">
            <span class="bar"></span>
            <span class="bar"></span>
            <span class="bar"></span>
        </div>
        <div class="links">
            <a href="/index.html">Home</a>
            <a href="/gd.html">Graphic Design</a>
            <a href="/ui.html">User Interface</a>
            <a href="/about.html">About</a>
            <a href="/contact.html">Contact</a>
        </div>
    </nav>
</header>